body {
    margin: 0;
    padding:0;
    background:url(Img/bg.jpg);
    background-size: cover;
    font-family: "Open Sans";
    font-size: 1em;
    text-align: center;
  }
  
  .login-box {
  width: 320px;
  height: 400px;
  background:#32383D;
  color:#fff;
  top: 50%;
  left: 50%;
  position:absolute;
  transform: translate(-50%, -50%);
  box-sizing:border-box;
  padding: 50px 30px;
  border-radius: 20px;
  }
  
  .login-box .avatar {
    width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  }
  
  .login-box h1 {
  margin:0;
  padding:0 0 20px;
  font-weight: bold;
  display:block;
  color: white;
  font-family: "Open Sans";
  font-size: 24px;
  text-align: center;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  p {
  color:white;
  font-family: "Open Sans";
  font-size: 15px;
  top:0,5px;
  }
  
  a {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
    display: block;
  }
  
  .login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
  }
